<%- include('./partials/header')-%>
           
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <% cars.forEach(function(entry) {%>

          <div class="card" style="width: 18rem;">
            <img src="<%=entry.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=entry.modele%></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="./controllers/car.js" class="btn btn-primary">Go somewhere</a>
             <a href="./controllers/cars.js" class="btn btn-danger">editer</a>
            </div>
          </div>

          <%});%>

        </div>
      </div>
    </div>

<%- include('./partials/footer')-%>